@page
@model WebApplication3.Pages.RegisterModel
@{
}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("registerForm").submit();
    }</script>

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Register </h1>

			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.FirstName">First Name</label>
					<input type="Text" asp-for="RModel.FirstName" class="form-control" />
					<span asp-validation-for="RModel.FirstName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.LastName">Last Name</label>
					<input type="Text" asp-for="RModel.LastName" class="form-control" />
					<span asp-validation-for="RModel.LastName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.CreditCard">Credit Card Number</label>
					<input type="Text" asp-for="RModel.CreditCard" class="form-control" />
					<span asp-validation-for="RModel.CreditCard" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.PhoneNumber">Phone Number</label>
					<input type="Text" asp-for="RModel.PhoneNumber" class="form-control" />
					<span asp-validation-for="RModel.PhoneNumber" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.BillingAddress">Billing Address</label>
					<input type="Text" asp-for="RModel.BillingAddress" class="form-control" />
					<span asp-validation-for="RModel.BillingAddress" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ShippingAddress">Shipping Address</label>
					<input type="Text" asp-for="RModel.ShippingAddress" class="form-control" />
					<span asp-validation-for="RModel.ShippingAddress" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Email">Email Address</label>
					<input type="Text" asp-for="RModel.Email" class="form-control" />
					<span asp-validation-for="RModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Password">Password</label>
					<input type="Text" asp-for="RModel.Password" class="form-control" />
					<span asp-validation-for="RModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
					<input type="Text" asp-for="RModel.ConfirmPassword" class="form-control" />
					<span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
				</div>
				
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Photo">Profile Picture</label>
					<input type="file" asp-for="RModel.Photo" class="form-control" />
					<span asp-validation-for="RModel.Photo" class="text-danger"></span>
				</div>
				
				<div class="mb-3">
					<!--
					<button class="g-recaptcha" data-sitekey="6Le852IpAAAAAC-u3HnjlR4AQgHL5sXl_teeJ7we" data-callback="onSubmit" type="submit" class="btn btn-primary">Register</button>-->
					<button type="submit" class="btn btn-primary">Register</button>
				</div>

			</form>
		</div>
	</div>
</div>